<form method="get" action="/">
    <select name="genre">
        {% for genre in genres %}
            <option value="{{genre}}" {% if genre == selectedGenre %} selected="selected" {% endif %}>{{genre}}</option>
        {% endfor %}
    </select>
    <input type="submit" />
</form>
