<html>
    <head>
        <script src="http://connect.soundcloud.com/sdk.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <style>
			.playing {
				-webkit-animation-name: rotate;
				-webkit-animation-duration: 4s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-timing-function: linear;
			}
			@keyframes rotate {
				from{ transform: rotate(0deg); }
				to	{ transform: rotate(360deg); }
			}
			@-webkit-keyframes rotate {
				from{ -webkit-transform: rotate(0deg); }
				to	{ -webkit-transform: rotate(360deg); }
			}
        </style>
    </head>
    <body>
        <script>
            (function() {
                var genre = 'indie',
                    candidates = { };

                SC.initialize({
                    client_id: '4e4115330f6a3238d4631409185ec7a5'
                });

                nextTrack();

                function nextTrack() {
                    SC.get('/tracks', { genres: genre, limit: 50 }, function(tracks) {
                        candidates['first'] = tracks[Math.floor(Math.random() * tracks.length)],
                        candidates['second'] = tracks[Math.floor(Math.random() * tracks.length)];

                        $('.first .title').html(candidates['first'].title);
                        $('.first img').attr('src', candidates['first'].artwork_url);
                        $('.second .title').html(candidates['second'].title);
                        $('.second img').attr('src', candidates['second'].artwork_url);
                    });
                }

                $('body').on('click', '.play', function(event) {
                    var element = $(event.target),
                        id = element.data('track');
                    play(id);
                    return false;
                });

                $('body').on('click', '.vote', function(event) {
                    var element = $(event.target),
                        id = element.data('track');
                    vote(id);
                    return false;
                });

                function play(id) {
                    var track = candidates[id];
                    $('.' + id + ' img').addClass('playing');
                    SC.stream(track.uri, function(sound) {
                        sound.play();
                        setTimeout(function() {
                            sound.stop();
                            $('.' + id + ' img').removeClass('playing');
                        }, 10000);
                    });
                }

                function vote(id) {
                    var track = candidates[id];
                    $.ajax('/vote', {
                        type: 'POST',
                        data: {
                            id: track.id,
                            uri: track.uri,
                            title: track.title,
                            genre: genre
                        }, 
                        success: function(response) {
                            showVotes(response);
                            nextTrack();
                        }
                    });
                }

                function showVotes(response) {
                    $('.votes').html(response);
                }
            })();
        </script>
        <div class="fight">
            <div class="first">
                <img src="" />
                <span class="title">
                </span>
                [<a class="play" data-track="first" href="#">play</a>]
                [<a class="vote" data-track="first" href="#">vote</a>]
            </div>
            vs
            <div class="second">
                <img src="" />
                <span class="title">
                </span>
                [<a class="play" data-track="second" href="#">play</a>]
                [<a class="vote" data-track="second" href="#">vote</a>]
            </div>
        </div>
        <div class="votes">
        </div>
    </body>
</html>
