<h2 class="subhead">Top Songs <span>in genre</span></h2>
<ol class="items">
    {% for vote in votes %}
        <li>
            <span class="title">{{ vote['title'] }}</span>
            <span class="artist">({{ vote['votes']}})</span>
        </li>
    {% endfor %}
</ol>
