body {
    background-color: #1e8ccc;
    color: #fff;
    font-family: Helvetica, sans;
}
.track {
    display: inline-block;
    width: 400px;
    text-align: center;
}

.track img {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    position: absolute;
    top: 80px;
}

.first img {
    left: 150px;
}

.second img {
    right: 150px;
}

.votes,
.fight {
    display: inline-block;
}

.vote {
    position: relative;
    width: 390px;
    height: 249px;
    display: inline-block;
    background-repeat: no-repeat;
}

.title {
    margin-left: 20px;
}

.first .vote {
    background-image: url('/img/song-left.svg');
}
.second .vote {
    background-image: url('/img/song-right.svg');
    background-position: 70px;
}
.playing {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes rotate {
    from{ transform: rotate(0deg); }
    to	{ transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    from{ -webkit-transform: rotate(0deg); }
    to	{ -webkit-transform: rotate(360deg); }
}

